@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.header {
  background-color: #FFFFFF;
  border-bottom: solid 1px #f5f5f5;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 680px;
  top: 0;
}

.header__title {
  font-family: 'roboto', sans-serif;
  color: #0B72EF;
  padding: 15px 15px;
  font-size: 21px;
}

